* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    color: #333;
    background: #f9f9f9;
    line-height: 1.6;
}

.header {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 80px 20px;
}

.header h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.header p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background: #ff6b00;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
}

.section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}


.about p {
    text-align: center;
    max-width: 700px;
    margin: auto;
}


.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    cursor: pointer;
}

.skills-list span {
    background: bisque;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}

.skills-list span:hover{
    background-color: orangered;
    color: white;
}


.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: blanchedalmond;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.project-card h3 {
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #ccc;
    padding-left: 70px;
}



.contact form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,
.contact textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background: #111;
    color: #fff;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #fff;
    margin-top: 40px;
}